/*
	Name: NURIN SYAZWANI BINTI MOHD KHAIRI
	Matric ID: 2020483176 grid-template-columns: 1fr 1fr;
*/

body{
	color: white;
	font-family: Roboto,Arial,sans-serif;
}

.grid-container {
	grid-template-columns: auto auto;
	display: grid;
  	padding: 10px;
}

.grid-container div {
	padding: 5px;
	text-align: left;
}

.banner h1{
	align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 250px;
    background-image: url('imgBack.jpg');
  	display: flex;
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center;
}

fieldset{
	background-color: rgb(214, 234, 248);
}

legend{
	padding: 10px;
	background-color:#1c87c9 ;
}

label {
	color: black;
}

input[type="text"], input[type="tel"], input[type="email"]{
	padding: 5px;
	width: 100%;
	border-radius: 8px;
}

textarea{
	padding: 5px;
	width: 100%;
	border-radius: 8px;
}

input:focus, textarea:focus {
  	border: 2px solid;
    border-color: #43D1AF;
}

input[type="submit"],input[type="reset"]{
	background-color: #1abc9c;
	color: white;
	font-size: 16px;
	width: 150px;
	height: 25px;
	border-radius: 5px;
	border: none;
}
